<h3>Welcome</h3>
<p>In this little app, you will be presented with a small sea world where you can build your own islands.</p>
<p>This tiny world is represented by a grid, you can set the size and generate a new world at any time. Initially all the cells will be sea (blue color) and you can click on the world to add or remove land and create tiny islands (groups of adjacent cells).</p>
<p>You will see how many land cells and islands you created.</p>
<p>Enjoy!</p>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Start</button>
</mat-dialog-actions>
